<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Amazing Events>Event Details</title>
</head>

<body class="container-box">
    <header>
        <nav class="navbar nav-pills navbar-expand-md  bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index.html">
                    <img src="./img/LogoAmazingEvents.png" alt="Logo" width="150"
                        class="d-inline-block align-text-center img-fluid">
                </a>
                <button class="navbar-toggler btn btn-light bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span><i class="bi bi-list"></i></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link text-light" href="./index.html">Home</a>
                        <a class="nav-link text-light" href="./upcomingevent.html">Upcoming events</a>
                        <a class="nav-link text-light" href="./pastevents.html">Past Events</a>
                        <a class="nav-link text-light" href="./contact.html">Contact</a>
                        <a class="nav-link text-light" href="./stats.html">Stats</a>
                    </div>
                </div>
            </div>
        </nav>
        <div
            class="d-flex bg-dark-subtle justify-content-xl-evenly justify-content-lg-evenly justify-content-md-evenly justify-content-sm-evenly justify-content-evenly">
            <div>
                <h1 class="text-dark-emphasis display-3">Event Details</h1>
            </div>
        </div>

    </header>
    <main class="flex-grow-1">
        <div id="appvue" class="d-flex rounded justify-content-center">
            <div>
                <div v-if="eventDetail" class="card m-2" style="max-width: 950px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img id="imgdetails" :src="eventDetail.image" class="rounded-start img-fluid" :alt="eventDetail.name">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{eventDetail.name}}</h5>
                                <p class="card-text">{{eventDetail.description}}</p>
                            </div>
                            <div class="card-footer text-muted d-flex justify-content-between">
                                <div><span>Price: $ {{eventDetail.price}}</span></div>
                                <div v-if="eventDetail.assistance"><span>Assistance: {{eventDetail.assistance}}</span></div>
                                <div v-else=""><span>Estimate: {{eventDetail.estimate}}</span></div>
                                <div><span>Place: {{eventDetail.place}}</span></div>
                                <div><span>Capacity: {{eventDetail.capacity}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="eventDetail.estimate" class="d-grid gap-2 mt-2 mb-1 ms-2 me-2">
                    <a href="./upcomingevent.html" class="btn btn-primary" type="button">Go Back</a>
                </div>
                <div v-else-if="eventDetail.assistance" class="d-grid gap-2 mt-2 mb-1 ms-2 me-2">
                    <a href="./pastevents.html" class="btn btn-primary" type="button">Go Back</a>
                </div>
                <div v-else class="d-grid gap-2 mt-2 mb-1 ms-2 me-2">
                    <a href="./index.html" class="btn btn-primary" type="button">Go Back</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="display-6">
            <div class="d-flex p-3 bg-dark-subtle justify-content-between align-content-center">
                <div class="d-inline-flex">
                    <span><i class="bi bi-instagram pe-4"></i></span>
                    <span><i class="bi bi-facebook pe-4"></i></span>
                    <span><i class="bi bi-whatsapp pe-4"></i></span>
                </div>
                <div>
                    <span>
                        <h4 class="mb-0">FE05-TN</h4>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script src="./scripts/detailvue.js"></script>
<!-- <script src="./scripts/data_ae_1.js"></script>
<script src="./scripts/dataDetails.js"></script> -->

</html>